/*
// -- COLORS --
*/

html {
  background: black url('../img/tree-of-life.jpg') no-repeat center bottom fixed;
  /*background: orange;*/
  height: 100%;
  overflow: hidden;
}

body {
  height:100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

a {
  color: white;
  text-decoration: none;
}


/*
 * -- BANNER --
 * The top banner with the headings. By using a combination
 * of `display: table;` and `display: table-cell;`, we can
 * vertically center the text.
 */

.banner {
  color: #AD9F99;
}

.banner-wrapper {
  text-align: center;
  height: 100%;
  width: 100%;
  display: table;
}

.banner-wrapper > .banner-head {
  display: table-cell;
  vertical-align: middle;
  margin-bottom: 0;
  font-size: 2em;
  font-weight: 500;
}

.headshot-container {
  min-width: 230px;
  padding-bottom: 60px;
}

.headshot-content {
  margin: 0 auto;
  width: 230px;
}

.headshot-content img {
  width: 230px;
  height: 230px;
}

/*
// -- retina mbp high res --
*/

@media (max-width: 1900px) {

}

/*
// -- iPAD 1 HORIZONTAL --
*/

@media (max-width: 1100px) {

}


/*
// -- iPAD 1 VERTICAL --
*/

@media (max-width: 800px) {

}

/*
// -- iPHONE 5s HORIZONTAL --
*/

@media (max-width: 600px) {

  .headshot-container {
    min-width: 120px;
    padding-bottom: 30px;
  }

  .headshot-content {
    width: 120px;
  }

  .headshot-content img {
    width: 120px;
    height: 120px;
  }

}

@media (max-height: 400px) {

}

/*
// -- iPHONE 5s VERTICAL --
*/

@media(max-width: 400px) {

}
